.container {
  height: 100vh;

  .main {
    margin: 0 auto;
    padding: 3rem 0;
    width: 90%;
    max-width: 50rem;
    text-align: center;
  }
}

.sunriseClear {
  background-image: linear-gradient(#f7931e, #ca5d7a);
  background-repeat: no-repeat;
}

.sunriseCloudy {
  background-image: linear-gradient(#c86e14, #b44664);
  background-repeat: no-repeat;
}

.sunriseRain {
  background-image: linear-gradient(#a07864, #a06478);
  background-repeat: no-repeat;
}

.noonClear {
  background-image: linear-gradient(#99ffff, #488fcd);
  background-repeat: no-repeat;
}

.noonCloudy {
  background-image: linear-gradient(#c8ffff, #0078c8);
  background-repeat: no-repeat;
}

.noonRain {
  background-image: linear-gradient(#a0c3be, #5389a6);
  background-repeat: no-repeat;
}

.sunsetClear {
  background-image: linear-gradient(#f0aa64, #6e6991);
  background-repeat: no-repeat;
}

.sunsetCloudy {
  background-image: linear-gradient(#c8a050, #6e6991);
  background-repeat: no-repeat;
}

.sunsetRain {
  background-image: linear-gradient(#af9b73, #5a5a73);
  background-repeat: no-repeat;
}

.nightClear {
  background-image: linear-gradient(#0078c8, #003282);
  background-repeat: no-repeat;
}

.nightCloudy {
  background-image: linear-gradient(#0064b4, #001464);
  background-repeat: no-repeat;
}

.nightRain {
  background-image: linear-gradient(#005096, #001450);
  background-repeat: no-repeat;
}
