.languageSelector {
  display: flex;
  margin: 0 auto;
  justify-content: center;

  font-weight: 300;
  font-size: 1.5rem;
}

.languageSelector div {
  margin: 0 5px;
}

.languageSelector a {
  cursor: pointer;
}

.selected {
  border-bottom: solid 3px black;
}

@media (max-width: 480px) {
  .selected {
    border-bottom: solid 2px black;
  }
}

@media (max-width: 320px) {
  .languageSelector {
    font-size: 1rem;
  }

  .selected {
    border-bottom: solid 1px black;
  }
}
