.cityInfo {
  font-family: "HelveticaNeue-CondensedBlack", sans-serif;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  animation: showCityInfo 4s;
}

.cityInfo span {
  margin-bottom: 0;
}

.cityName {
  font-size: 12rem;
}

@media (max-width: 768px) {
  .cityName {
    font-size: 8rem;
  }

  .cityInfo {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .cityName {
    font-size: 6rem;
  }

  .cityInfo {
    font-size: 2.5rem;
  }
}

@media (max-width: 320px) {
  .cityName {
    font-size: 4rem;
  }

  .cityInfo {
    font-size: 2rem;
  }
}

@keyframes showCityInfo {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}
