@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;1,100&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica Neue, sans-serif;
}

h1 {
  font-family: "HelveticaNeue-CondensedBlack", sans-serif;
  font-size: 10rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 480px) {
  h1 {
    font-size: 8rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 6rem;
  }
}
